<!-- Page Header Start -->
<div class="container-fluid page-header py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container text-center pt-5 pb-3">
        <h1 class="display-4 text-white animated slideInDown mb-3">Service Provider Details</h1>
    </div>
</div>
<!-- Page Header End -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="row img-twice position-relative h-100">
                    <div class="col-6">
                        <img class="img-fluid rounded" [src]="sprovider.logo" alt="">
                    </div>

                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="h-100">

                    <h1 class="display-6 mb-4">{{sprovider.companyName}}</h1>
                    <p class="text-primary text-uppercase mb-2">{{sprovider.serviceType}}</p>
                    <p>{{sprovider.description}}</p>
                    <div class="row g-2 mb-4">
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Quality Products
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Custom Products
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Online Order
                        </div>
                        <div class="col-sm-6">
                            <i class="fa fa-check text-primary me-2"></i>Home Delivery
                        </div>
                    </div>
                    <a class="btn btn-primary rounded-pill py-3 px-5" href="">Contact</a>
                </div>
            </div>
        </div>
        <ul class="row">
            <li class="col-6" *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </li>
        </ul>
    </div>
</div>
<br><br><br><br>