<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-lg-0 px-lg-5 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
        <h1 class="text-primary m-0">Plan.It</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto p-4 p-lg-0">
            <a [routerLink]="['home']" routerLinkActive="active" class="nav-item nav-link active">Home</a>
            <a [routerLink]="['about']" routerLinkActive="active" class="nav-item nav-link">About</a>
            <a [routerLink]="['feed']" routerLinkActive="active" class="nav-item nav-link">Feed</a>
            <a [routerLink]="['services']" routerLinkActive="active" class="nav-item nav-link">Service Providers</a>
            <a [routerLink]="['contact']" routerLinkActive="active" class="nav-item nav-link">Contact</a>




            <div><a *ngIf='!(authService.isLoggedIn$ | async)' [routerLink]="['login']" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">Log In</a></div>
            <div><a *ngIf='!(authService.isLoggedIn$ | async)' [routerLink]="['signup']" routerLinkActive="active" ariaCurrentWhenActive="page" class=" nav-item nav-link ">Sign Up</a></div>
            <div><a *ngIf='authService.isLoggedIn$ | async' (click)="goToAccount()" routerLinkActive="active" ariaCurrentWhenActive="page" class=" nav-item nav-link ">Profile </a></div>
            <div><a *ngIf='authService.isLoggedIn$ | async' (click)="logout()" [routerLink]="['home']" routerLinkActive="active" ariaCurrentWhenActive="page" class=" nav-item nav-link ">Logout</a></div>

        </div>
        <div class=" d-none d-lg-flex">
            <div class="flex-shrink-0 btn-lg-square border border-light rounded-circle">
                <i class="fa fa-phone text-primary"></i>
            </div>
            <div class="ps-3">
                <small class="text-primary mb-0">Call Us</small>
                <p class="text-light fs-5 mb-0">+216 52 103 306</p>
            </div>
        </div>
    </div>
</nav>