<div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s" style="height:100%; background:linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url('../assets/img/chic-dinner.jpg'); background-size:cover;">
    <div class=" header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <div class="container-xxl py-6">
                <div class="container" style="margin-top : 8%">
                    <div class="text-center mx-auto mb-5 wow fadeInUp "data-wow-delay="0.1s" style="max-width: 500px;">
                        <h1 class="display-6 mb-4" style="color: whitesmoke;">Welcome to <span class="text-primary m-0">Plan.It</span></h1>
                    </div>
                    <div class="row g-0 justify-content-center">
                        <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.1s">
                            <p class="text-center mb-4" style="color: rgb(209, 209, 209);">Log In if you want to have the event of your life.</p>
                            <form #loginForm ="ngForm" (ngSubmit)="onLogIn()">
                                <div class="row g-3" style="width:50%; margin: auto;">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="email" [formControl]="user.email" class="form-control" id="email" placeholder="Your Email">
                                            <label for="email">Your Email</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="password" [formControl]="user.password" class="form-control" required minlength="4" id="password" placeholder="Your Password" >
                                            <label for="password">Your Password</label>
                                        </div>
                                        <div *ngIf="user.password.invalid && (user.password.dirty || user.password.touched)"class="alert">
                                            <div *ngIf="user.password.errors?.required" style="color:red ;">
                                                Password is required.
                                            </div>
                                            <div *ngIf="user.password.errors?.minlength"  style="color:red ;">
                                                Password must be at least 4 characters long.
                                            </div>
                                        </div>
                                    </div>
                                    <a class="mb-4" style="position:relative;bottom: 13px; left: 48%; font-size: 14px;">Don't have an account? Sign Up</a>
                                    <div class="col-12 text-center">
                                        <button class="btn btn-primary rounded-pill py-3 px-5"  type="submit" [disabled]="!loginForm.valid">Log In</button>
                                        
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
                
            </div> 
        </div>
    </div>
</div> 
