<div class="team-item text-center rounded overflow-hidden">
    <img class="img-fluid" [src]=sprovider.logo alt="">
    <div class="team-text">
        <div class="team-title">
            <h5>{{sprovider.companyName}}</h5>
            <span>{{sprovider.description}}</span>
        </div>
        <div class="team-social">
            <a class="btn btn-lg-square btn-outline-light rounded-circle" (click)="viewDetails()"><i class="fa fa-eye"  aria-hidden="true" _ngcontent-rfl-c24=""></i></a>
            <a class="btn btn-lg-square btn-outline-light rounded-circle" href=""><i class="fa fa-envelope" aria-hidden="true" _ngcontent-rfl-c24=""></i></a>
        </div>
    </div>
</div>