<div class="product-item d-flex flex-column bg-white rounded overflow-hidden h-100">
    <div class="text-center p-4">
        <h3 class="mb-3">{{post.user.companyName}}</h3>
        <div class="d-inline-block border border-primary rounded-pill px-3 mb-3">{{post.user.serviceType}}</div>
        <br>
        <span>{{post.description}}</span>
    </div>
    <div class="position-relative mt-auto">
        <img class="img-fluid" [src]="image" alt="">
        <div class="product-overlay">
            <a class="btn btn-lg-square btn-outline-light rounded-circle" (click)="viewDetailsSProvider()"><i class="fa fa-eye text-primary"></i></a>
        </div>
    </div>
</div>